body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#tblProducts{
  border:1;
  border-style: solid;
  /* width: 400px; */
}

#tblProducts td:{
  width: 30%;
  border-style: solid;
}

#lbTitle{
  font-family: 'Damion', cursive;
  font-weight: bolder;
  font-size: 40pt;
  color:#BD3665;
}

img {
  height: 200px;
}